.dashboard {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "p p p d"
                       "c w w d";

  grid-gap: 20px;
  padding: 20px;

  

  .dashboard__status {
    background-color: white;
    padding: 20px;
    border-radius: 20px;

    .dashboard__status__list {
      display: grid;

      grid-template-columns: repeat(auto-fill, 200px);
      grid-gap: 16px;

      list-style: none;
      padding: 0;
    }

    &:nth-child(1) {
      grid-area: p;
    }

    &:nth-child(2) {
      grid-area: w;
    }

    &:nth-child(3) {
      grid-area: d;
      max-height: 860px;

      display: flex;
      justify-content: center;
      
      overflow-y: scroll;
    }
  }

  .dashboard__customer-area {
    height: 400px;
    grid-area: c;

    background-color: white;
    padding: 20px;
    border-radius: 20px;
    overflow-y: scroll;

    .dashboard__customer-area__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .dashboard__customer-area__item {
      margin: 10px;

      mat-card {
        background-color: rgb(238, 238, 238);
      }
    }
  }
}

.empty-template {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(76, 76, 76);
}