.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;

  color: white;

  .dashboard__status {
    padding: 20px;

    .dashboard__status__list {
      display: grid;

      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 16px;

      list-style: none;
    }
  }
}