.container {
  display: grid;
  grid-template-rows: auto;
}

header {
  flex: 1;
  
  height: 12vh;

  display: flex;
  align-items: center;

  background-color: rgb(48, 48, 48);
  color: white;
  padding: 0 20px 0 20px;
}

main {
  flex: 1;
  background-color: #e3e3e3;
}

footer {
  height: 18vh;
  background-color: rgb(48, 48, 48);
}